---
import { inject } from '@vercel/analytics';
import SpeedInsights from '@vercel/speed-insights/astro';

interface Props {
  title: string;
  description?: string;
  lang?: string;
}

const { title, description, lang = 'en' } = Astro.props;
const isDev = import.meta.env.DEV;
const toolbarProjectId = 'prj_bRdDHFkFdH7YZmPcbWgSgB7bA38U';
const toolbarOwnerId = 'team_lO4dEQU7946C21LoJmzJTUP7';
const toolbarBranch = process.env.VERCEL_GIT_COMMIT_REF ?? 'main';

inject();
---

<!DOCTYPE html>
<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    {description && <meta name="description" content={description} />}
    <SpeedInsights />
    <slot name="head" />
  </head>
  <body>
    <slot />
    
    {isDev && (
      <script
        is:inline
        src="https://vercel.live/_next-live/feedback/feedback.js"
        data-explicit-opt-in="true"
        data-owner-id={toolbarOwnerId}
        data-project-id={toolbarProjectId}
        data-branch={toolbarBranch}
      ></script>
    )}
  </body>
</html>
